:root{
    --primary-color: rgba(0, 121, 235, 0.781);
    --secondary-color: rgba(238, 234, 3, 0.884);
    --dark-color: rgba(2, 28, 75, 0.678);
    --white-color: #f3f3d0;

}

body{
    color: var(--dark-color);
    font-family: Righteous;
}

nav{
    background-color: var(--dark-color);
    font-family: satisfy;
    font-size: 1.3rem;
}

footer{
    background-color: var(--dark-color);
    font-family: satisfy;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}

.bsicon{
    color: rgb(15, 208, 214);
}

.jsicon{
    color: rgb(226,211,4);
}

.html5icon{
    color: rgba(36, 11, 177, 0.37);
}

.css3icon{
    color: rgb(223, 208, 3);
}

.checklist >li i{
    color: var(--secondary-color);
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
    }

main>.container {
    padding: 60px 15px 0;
}

.Fizz{
    color:rgb(144, 199, 250);
}

.Buzz{
    color:rgb(2, 18, 236);
}

.FizzBuzz{
    color: var(--primary-color);
    font-weight: bold;
}

.myBtn{
    background-color: var(--primary-color);
    color: white;
}

.myBtn:hover{
    background-color: var(--white-color);
    color: black;
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}